AeiCliente/AeiCliente/Service References/ServiceReference3/ServicioDAO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioDAO" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52896/ServicioDAO.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52896/ServicioDAO.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52896/ServicioDAO.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioDAO_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:setCompra" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:setCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getListaCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:getListaCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getListaCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListaCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_buscarProductoPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarProductoPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_buscarProductoPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarProductoPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_buscarTagPorProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarTagPorProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_buscarTagPorProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarTagPorProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setCantidadProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:setCantidadProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setCantidadProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:setCantidadProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductos" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductoPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPorNombre" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductoPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductoPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductoPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductoPorDetalleCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPorDetalleCompra" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getProductoPorDetalleCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPorDetalleCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setCalificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:setCalificacion" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setCalificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:setCalificacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setAgregarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:setAgregarCompra" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setAgregarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:setAgregarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setEstadoDeCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:setEstadoDeCompra" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setEstadoDeCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:setEstadoDeCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setMetodoPago_InputMessage">
    <wsdl:part name="parameters" element="tns:setMetodoPago" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setMetodoPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:setMetodoPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getMetodoPagoPorCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:getMetodoPagoPorCompra" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getMetodoPagoPorCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMetodoPagoPorCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setModificarMetodoPago_InputMessage">
    <wsdl:part name="parameters" element="tns:setModificarMetodoPago" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setModificarMetodoPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:setModificarMetodoPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getDireccionDeCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:getDireccionDeCompra" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_getDireccionDeCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDireccionDeCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:setUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioDAO_setUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:setUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioDAO">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/GetData" message="tns:IServicioDAO_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/GetDataResponse" message="tns:IServicioDAO_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setCompra" message="tns:IServicioDAO_setCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setCompraResponse" message="tns:IServicioDAO_setCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListaCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/getListaCategoria" message="tns:IServicioDAO_getListaCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/getListaCategoriaResponse" message="tns:IServicioDAO_getListaCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarProductoPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/buscarProductoPorCategoria" message="tns:IServicioDAO_buscarProductoPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/buscarProductoPorCategoriaResponse" message="tns:IServicioDAO_buscarProductoPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarTagPorProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/buscarTagPorProducto" message="tns:IServicioDAO_buscarTagPorProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/buscarTagPorProductoResponse" message="tns:IServicioDAO_buscarTagPorProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCantidadProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setCantidadProducto" message="tns:IServicioDAO_setCantidadProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setCantidadProductoResponse" message="tns:IServicioDAO_setCantidadProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/getProductos" message="tns:IServicioDAO_getProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/getProductosResponse" message="tns:IServicioDAO_getProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/getProductoPorNombre" message="tns:IServicioDAO_getProductoPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/getProductoPorNombreResponse" message="tns:IServicioDAO_getProductoPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/getProductoPorCategoria" message="tns:IServicioDAO_getProductoPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/getProductoPorCategoriaResponse" message="tns:IServicioDAO_getProductoPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoPorDetalleCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/getProductoPorDetalleCompra" message="tns:IServicioDAO_getProductoPorDetalleCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/getProductoPorDetalleCompraResponse" message="tns:IServicioDAO_getProductoPorDetalleCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCalificacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setCalificacion" message="tns:IServicioDAO_setCalificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setCalificacionResponse" message="tns:IServicioDAO_setCalificacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setAgregarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setAgregarCompra" message="tns:IServicioDAO_setAgregarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setAgregarCompraResponse" message="tns:IServicioDAO_setAgregarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setEstadoDeCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setEstadoDeCompra" message="tns:IServicioDAO_setEstadoDeCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setEstadoDeCompraResponse" message="tns:IServicioDAO_setEstadoDeCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setMetodoPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setMetodoPago" message="tns:IServicioDAO_setMetodoPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setMetodoPagoResponse" message="tns:IServicioDAO_setMetodoPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMetodoPagoPorCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/getMetodoPagoPorCompra" message="tns:IServicioDAO_getMetodoPagoPorCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/getMetodoPagoPorCompraResponse" message="tns:IServicioDAO_getMetodoPagoPorCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setModificarMetodoPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setModificarMetodoPago" message="tns:IServicioDAO_setModificarMetodoPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setModificarMetodoPagoResponse" message="tns:IServicioDAO_setModificarMetodoPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDireccionDeCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/getDireccionDeCompra" message="tns:IServicioDAO_getDireccionDeCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/getDireccionDeCompraResponse" message="tns:IServicioDAO_getDireccionDeCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDAO/setUsuario" message="tns:IServicioDAO_setUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDAO/setUsuarioResponse" message="tns:IServicioDAO_setUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioDAO" type="tns:IServicioDAO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCompra">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/getListaCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarProductoPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/buscarProductoPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTagPorProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/buscarTagPorProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCantidadProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setCantidadProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductos">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/getProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoPorNombre">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/getProductoPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/getProductoPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoPorDetalleCompra">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/getProductoPorDetalleCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCalificacion">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setCalificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAgregarCompra">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setAgregarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEstadoDeCompra">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setEstadoDeCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMetodoPago">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setMetodoPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetodoPagoPorCompra">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/getMetodoPagoPorCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setModificarMetodoPago">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setModificarMetodoPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDireccionDeCompra">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/getDireccionDeCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioDAO/setUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDAO">
    <wsdl:port name="BasicHttpBinding_IServicioDAO" binding="tns:BasicHttpBinding_IServicioDAO">
      <soap:address location="http://localhost:52896/ServicioDAO.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>