AeiMobile/AeiMobile/Service References/ServicioAEI/ServicioAEI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AeiWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AeiWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calificaciones" nillable="true" type="tns:ArrayOfCalificacion" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:Categoria" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Etiquetas" nillable="true" type="tns:ArrayOfTag" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagenDetalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenMiniatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfCalificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calificacion" nillable="true" type="tns:Calificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalificacion" nillable="true" type="tns:ArrayOfCalificacion" />
  <xs:complexType name="Calificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Puntaje" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calificacion" nillable="true" type="tns:Calificacion" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carrito" nillable="true" type="tns:Compra" />
      <xs:element minOccurs="0" name="CodigoActivacion" type="xs:int" />
      <xs:element minOccurs="0" name="Compras" nillable="true" type="tns:ArrayOfCompra" />
      <xs:element minOccurs="0" name="Direcciones" nillable="true" type="tns:ArrayOfDireccion" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MetodosPago" nillable="true" type="tns:ArrayOfMetodoPago" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pasaporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Compra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="tns:Direccion" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MontoTotal" type="xs:float" />
      <xs:element minOccurs="0" name="Pago" nillable="true" type="tns:MetodoPago" />
      <xs:element minOccurs="0" name="Productos" nillable="true" type="tns:ArrayOfDetalleCompra" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Compra" nillable="true" type="tns:Compra" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="MetodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetodoPago" nillable="true" type="tns:MetodoPago" />
  <xs:complexType name="ArrayOfDetalleCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleCompra" nillable="true" type="tns:DetalleCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleCompra" nillable="true" type="tns:ArrayOfDetalleCompra" />
  <xs:complexType name="DetalleCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:float" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleCompra" nillable="true" type="tns:DetalleCompra" />
  <xs:complexType name="ArrayOfCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Compra" nillable="true" type="tns:Compra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompra" nillable="true" type="tns:ArrayOfCompra" />
  <xs:complexType name="ArrayOfDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion" />
  <xs:complexType name="ArrayOfMetodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetodoPago" nillable="true" type="tns:MetodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetodoPago" nillable="true" type="tns:ArrayOfMetodoPago" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
</xs:schema>