AeiCliente/AeiCliente/Service References/ServicioDireccion/ServicioDireccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AeiWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AeiWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
</xs:schema>