AeiCliente/AeiCliente/Service References/ServicioDireccion/ServicioDireccion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52896/Logica/ServicioDireccion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices" />
  <xs:element name="consultarEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="consultarEstadosResult" nillable="true" type="q1:ArrayOfDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="consultarCiudadResult" nillable="true" type="q2:ArrayOfDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>