AeiCliente/AeiCliente/Service References/ServicioAEI/ServicioAEI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52896/Logica/ServicioAEI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices" />
  <xs:import schemaLocation="http://localhost:52896/Logica/ServicioAEI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices.Dominio" />
  <xs:element name="ConsultarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="ConsultarUsuarioResult" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pasaporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="agregarUsuarioResult" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screenName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AeiWebServices.Dominio" minOccurs="0" name="getTwitterResult" nillable="true" type="q3:Twitter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="screenName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OauthToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OauthTokenSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarTwitterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCalificacionProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCalificacionProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="buscarCalificacionProductoResult" nillable="true" type="q4:ArrayOfCalificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoPorCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoPorCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="BuscarProductoPorCategoriaResult" nillable="true" type="q5:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaProductoConCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoriaProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaProductoConCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="BusquedaProductoConCategoriaResult" nillable="true" type="q6:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="BusquedaProductoResult" nillable="true" type="q7:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodasLasCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodasLasCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="BuscarTodasLasCategoriasResult" nillable="true" type="q8:ArrayOfCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="consultarEstadosResult" nillable="true" type="q9:ArrayOfDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="consultarCiudadResult" nillable="true" type="q10:ArrayOfDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarDireccionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPostal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarDireccionUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarDireccionUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarCarrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="usuario" nillable="true" type="q11:Usuario" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="detalleCompra" nillable="true" type="q12:DetalleCompra" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="p" nillable="true" type="q13:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarCarritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="agregarCarritoResult" nillable="true" type="q14:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarDireccionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarDireccionUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="buscarDireccionUsuarioResult" nillable="true" type="q15:ArrayOfDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>