AeiCliente/AeiCliente/Service References/ServicioAEI/ServicioAEI41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AeiWebServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AeiWebServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Twitter">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OauthToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OauthTokenSecret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Twitter" nillable="true" type="tns:Twitter" />
</xs:schema>