AeiCliente/AeiCliente/Service References/ServicioProducto/ServicioProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52896/Logica/ServicioProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52896/Logica/ServicioProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52896/Logica/ServicioProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProducto_BuscarProductoPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_BuscarProductoPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_buscarInformacionProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarInformacionProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_buscarInformacionProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarInformacionProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioProducto">
    <wsdl:operation name="BuscarProductoPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/BuscarProductoPorCategoria" message="tns:IServicioProducto_BuscarProductoPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/BuscarProductoPorCategoriaResponse" message="tns:IServicioProducto_BuscarProductoPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarInformacionProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/buscarInformacionProducto" message="tns:IServicioProducto_buscarInformacionProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/buscarInformacionProductoResponse" message="tns:IServicioProducto_buscarInformacionProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioProducto" type="tns:IServicioProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarProductoPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/BuscarProductoPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarInformacionProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/buscarInformacionProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProducto">
    <wsdl:port name="BasicHttpBinding_IServicioProducto" binding="tns:BasicHttpBinding_IServicioProducto">
      <soap:address location="http://localhost:52896/Logica/ServicioProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>