AeiCliente/AeiCliente/Service References/ServicioCompra/ServicioCompra.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52896/Logica/ServicioCompra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices" />
  <xs:element name="getCarrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCarritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AeiWebServices" minOccurs="0" name="getCarritoResult" nillable="true" type="q1:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>