AeiCliente/AeiCliente/Service References/ServiceReference2/IMPLEMENTAR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IMPLEMENTAR" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52896/IMPLEMENTAR.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52896/IMPLEMENTAR.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52896/IMPLEMENTAR.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIMPLEMENTAR_buscarListaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarListaProducto" />
  </wsdl:message>
  <wsdl:message name="IIMPLEMENTAR_buscarListaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarListaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IIMPLEMENTAR_buscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IIMPLEMENTAR_buscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IIMPLEMENTAR">
    <wsdl:operation name="buscarListaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMPLEMENTAR/buscarListaProducto" message="tns:IIMPLEMENTAR_buscarListaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMPLEMENTAR/buscarListaProductoResponse" message="tns:IIMPLEMENTAR_buscarListaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMPLEMENTAR/buscarUsuario" message="tns:IIMPLEMENTAR_buscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMPLEMENTAR/buscarUsuarioResponse" message="tns:IIMPLEMENTAR_buscarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIMPLEMENTAR" type="tns:IIMPLEMENTAR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarListaProducto">
      <soap:operation soapAction="http://tempuri.org/IIMPLEMENTAR/buscarListaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IIMPLEMENTAR/buscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMPLEMENTAR">
    <wsdl:port name="BasicHttpBinding_IIMPLEMENTAR" binding="tns:BasicHttpBinding_IIMPLEMENTAR">
      <soap:address location="http://localhost:52896/IMPLEMENTAR.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>