AeiCliente/AeiCliente/Service References/ServicioUsuario/ServiceUsuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52896/Logica/ServicioUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52896/Logica/ServicioUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52896/Logica/ServicioUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AeiWebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUsuario_ConsultarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_ConsultarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_agregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_agregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_prueba_InputMessage">
    <wsdl:part name="parameters" element="tns:prueba" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_prueba_OutputMessage">
    <wsdl:part name="parameters" element="tns:pruebaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioUsuario">
    <wsdl:operation name="ConsultarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/ConsultarUsuario" message="tns:IServicioUsuario_ConsultarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/ConsultarUsuarioResponse" message="tns:IServicioUsuario_ConsultarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/agregarUsuario" message="tns:IServicioUsuario_agregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/agregarUsuarioResponse" message="tns:IServicioUsuario_agregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="prueba">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/prueba" message="tns:IServicioUsuario_prueba_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/pruebaResponse" message="tns:IServicioUsuario_prueba_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioUsuario" type="tns:IServicioUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/ConsultarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/agregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prueba">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUsuario">
    <wsdl:port name="BasicHttpBinding_IServicioUsuario" binding="tns:BasicHttpBinding_IServicioUsuario">
      <soap:address location="http://localhost:52896/Logica/ServicioUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>