AeiCliente/AeiCliente/Service References/ServiceReference1/ServicioDAO2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AeiWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AeiWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Compra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="tns:Direccion" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MontoTotal" type="xs:float" />
      <xs:element minOccurs="0" name="Pago" nillable="true" type="tns:MetodoPago" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Compra" nillable="true" type="tns:Compra" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="MetodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetodoPago" nillable="true" type="tns:MetodoPago" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
</xs:schema>